<div class="row mt-2 mx-0">
  <div class="col-auto">
    <div class="row">
      <h1 class="mb-0">$<%= number_with_precision((@spending_total), :precision => 2, :delimiter => ',') %></h1>
    </div>
    <div class="row">
      Total Spent
    </div>
  </div>
  <div class="col-auto mx-2 mt-auto">
    <div class="row">
      <h3 class="mb-0">$<%= number_with_precision((@spending_month), :precision => 2, :delimiter => ',') %></h3>
    </div>
    <div class="row">
      Checking
    </div>
  </div>
</div>
<hr>
<div class="row mx-0 mt-3">
  <div class="col-12 px-0" id="trans_table">
    <%= render partial: "table_view", locals: { page_type: "spending" } %>
  </div>
</div>