// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root {
    --checking:#ffc107;
    --cash:#a6ef90;
    --income:#53d18d;
    --spending:#d15391;
    --transfer:#e2b152;
    --savings:#528de2;
    --pink:#ea377a;
}

.type-pill {
	display: inline-block;
	border-radius: 15px;
	border: 1px solid var(--checking);
	background-color: var(--checking);
	color: white;
	font-size: 0.7rem;
	line-height: normal;
	padding-bottom: 1px;
}

.cash-theme .type-pill {
	border-color: var(--income);
	background-color: var(--income);
}

.savings-theme .type-pill {
	border-color: var(--savings);
	background-color: var(--savings);
}

.pill-link {
	border-radius: 15px;
	background-color: transparent;
	cursor: pointer;
	color: gray;
	font-weight: 500;
	border-width: 1px;
	border-style: solid;
}

.pill-link:hover {
	text-decoration: none;
}

.pill-link.income {
	border-color: var(--income);
	color: var(--income);
}

.pill-link.income:hover {
	background-color: var(--income);
	color: white;
}

.pill-link.spending {
	border-color: var(--spending);
	color: var(--spending);
}

.pill-link.spending:hover {
	background-color: var(--spending);
	color: white;
}

.pill-link.transfer {
	border-color: var(--transfer);
	color: var(--transfer);
}

.pill-link.transfer:hover {
	background-color: var(--transfer);
	color: white;
}

.headings {
	font-weight: 500;
	font-size: 1.2rem;
}

.transaction {
	border-bottom: 1px solid #5f5f5f21;
}

.transaction-form {
	#type-selection > input[type="radio"] {
		display: none;
	}

	input:checked + label {
		color: white;
		background-color: var(--pink);
	}

	.spending.checked {
		color: white;
		background-color: var(--spending);
	}

	.transfer.checked {
		color: white;
		background-color: var(--transfer);
	}

	.income.checked {
		color: white;
		background-color: var(--income);
	}
}

.btn-link {
	background: transparent;
	border: none;
	outline: none;
}